// cantv_theme/static/src/scss/custom_variables.scss
$o-cantv-primary: #0087cb; // Azul CANTV
$o-brand-odoo: #0047AB; // Azul CANTV como color de marca de Odoo
$o-brand-primary: #0047AB; // Azul CANTV como color primario de Odoo
$o-theme-color-primary: #0047AB; // Azul CANTV como color primario del tema
$o-theme-border-color: #003a80; // Azul CANTV como color de borde del tema
// Deja este archivo así, sin otras importaciones.